body {
  background: black;
}
.space {
  background-image: url(images/photo-1533578448779-71eb335c0d95.webp);
}
.hidden {
  display: none;
  transition: all 2s;
  transition-delay: 2s;
}
.heezy {
  color: #227d26;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  transition: all 2s;
}
.tran {
  opacity: 1;
  color: white;
  text-align: center;
  font-size: 500%;
  font-family: "Times New Roman", Times, serif;
  transition: all opacity color font-size 2s ease-in-out;
  transition-delay: 2s;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 49%;
}
.shgif {
  opacity: 1;
  transition: opacity 2s;
}
.fade {
  transition: opacity 2s;
  opacity: 0;
}
.for-now {
  opacity: 1;
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  border-top: 0px;
  transition: opacity 2s ease-in-out;
  transition-delay: 2s;
}
.unavailable {
  opacity: 0;
}
.links {
  position: absolute;
  color: #227d26;
  font-size: 36pt;
  transition-delay: 2s;
  transition: all;
  top: 50px;
}
ul {
  color: white;
  list-style-type: none;
  font-size: 12pt;
}
a:hover {
  font-size: 24pt;
  color: #227d26;
}
a:visited {
  color: grey;
}
